#header-container-inner
  #phone-number
  #pagetitle-wrapper
    .center
      %h1 Welcome to RentCentral! <br /> Choose an option below to get started.
      #breadcumb some sort of subtitle
  #slideshow-shadow
#content
  .maincontent-inner
    .col-2
      .center
        %h1
          =link_to "View Listings", listings_path
    .col-2
      .center
        %h1
          - if signed_in?
            =link_to "Post a Listing", new_listing_path
          - else
            =link_to "Post a Listing", signin_path

