#header-container-inner
  #phone-number
  #pagetitle-wrapper
    .center
      %h1 Welcome to RentCentral! <br /> Choose an option above to get started.
      #breadcumb
  #slideshow-shadow
#content
  .maincontent-inner
    .col-2
      .center
        %h2
          Why use RentCentral?
      <br>
      %b Landlords get
      %u1
        %li Permanent and publicly viewable listings
        %li Central location for advertising and hosting needs
      <br>
      %b House-hunters get
      %u1
        %li Direct communication with landlords and potential roommates
        %li Uniform and searchable database of listings
    .col-2
      .center
        %h2
          Things to Come
        <br>
      %b Stay tuned for:
      %u1
        %li Location-based searching
        %li Messaging system
        %li Online application forms
        %li Rating and reviewing system

